

<div class="card bg-light text-dark">
    <h1>Change Password</h1>
    <form [formGroup]="myForm">
        <label>User Id</label>
        <input class="form-control" type="text"  formControlName="userid">
        <span class="alert alert-danger" *ngIf="userid.touched && userid.invalid">
            <span class="alert alert-danger" *ngIf="userid.errors.required">User Id field is required!</span>
            <!-- <span class="alert alert-danger" *ngIf="password.errors.minlength">Username should be min 5 chars</span> -->
        </span>


        <label>Current Password</label>
        <input class="form-control" type="text"  formControlName="password">
        <span class="alert alert-danger" *ngIf="password.touched && password.invalid">
            <span class="alert alert-danger" *ngIf="password.errors.required">Password field is required!</span>
            <span class="alert alert-danger" *ngIf="password.errors.minlength">Username should be min 5 chars</span>
        </span>

        <label>New Password</label>
        <input class="form-control" type="text"  formControlName="newpassword">
        <span class="alert alert-danger" *ngIf="newpassword.touched && newpassword.invalid">
            <span class="alert alert-danger" *ngIf="newpassword.errors.required">Name field is required!</span>
            <span class="alert alert-danger" *ngIf="newpassword.errors.minlength">Username should be min 5 chars</span>
        </span>
        <br/>
        <br/>
        <button type="button" class="btn btn-primary btn-lg btn-block" [disabled]="myForm.invalid" (click)="changePassword()">Change Password</button>
        <p class="text-danger">{{printmessage|json}}</p>
    </form>
</div>
