<div class="container">

  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin" [formGroup]="loginForm">
  
            
            <div class="form-label-group">
              <label>Admin name</label>
              <br/>
              <label for="inputEmail"></label>
              <input type="text" id="inputEmail" class="form-control" placeholder="Adminname" autofocus formControlName="adminname">
              
               <span class="alert alert-danger" *ngIf="adminname.touched && adminname.invalid">
                   <span class="alert alert-danger" *ngIf="adminname.errors.required">Name is required</span>
          </span>
            </div>

            <div class="form-label-group">
              <label>Password</label>
              <br/>
              <label for="inputPassword"></label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required formControlName="password">
              
              <span class="alert alert-danger" *ngIf="password.touched && adminname.invalid">
                <span class="alert alert-danger" *ngIf="password.errors.required">Passowrd is required</span>
          </span>
            </div>

           
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="checkAdmin()" [disabled]="loginForm.invalid">Sign in</button>
            <hr class="my-4">
            
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>


    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Sign In</h5>
            <form class="form-signin" [formGroup]="loginForm">
    
              
              <div class="form-label-group">
                <label>Admin Id</label>
                <br/>
                <label for="inputEmail"></label>
                <input type="text" id="inputEmail" class="form-control" placeholder="Adminname" autofocus formControlName="adminname">
                
                 <span class="alert alert-danger" *ngIf="adminname.touched && adminname.invalid">
                     <span class="alert alert-danger" *ngIf="adminname.errors.required">Name is required</span>
            </span>
              </div>

              <div class="form-label-group">
                <label>Password</label>
                <br/>
                <label for="inputPassword"></label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required formControlName="password">
                
                <span class="alert alert-danger" *ngIf="password.touched && adminname.invalid">
                  <span class="alert alert-danger" *ngIf="password.errors.required">Passowrd is required</span>
            </span>
              </div>

             
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="checkAdmin()" [disabled]="loginForm.invalid">Sign in</button>
              <hr class="my-4">
              
            </form>
            {{this.welcome | json}}
          </div>
        </div>
      </div>
      </div>
    </div>

  <div class="row">
    <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
      <div class="card card-signin my-5">
        <div class="card-body">
          <h5 class="card-title text-center">Sign In</h5>
          <form class="form-signin" [formGroup]="loginForm">
  
            
            <div class="form-label-group">
              <label>Admin name</label>
              <br/>
              <label for="inputEmail"></label>
              <input type="text" id="inputEmail" class="form-control" placeholder="Adminname" autofocus formControlName="adminname">
              
               <span class="alert alert-danger" *ngIf="adminname.touched && adminname.invalid">
                   <span class="alert alert-danger" *ngIf="adminname.errors.required">Name is required</span>
          </span>
            </div>

            <div class="form-label-group">
              <label>Password</label>
              <br/>
              <label for="inputPassword"></label>
              <input type="password" id="inputPassword" class="form-control" placeholder="Password" required formControlName="password">
              
              <span class="alert alert-danger" *ngIf="password.touched && adminname.invalid">
                <span class="alert alert-danger" *ngIf="password.errors.required">Passowrd is required</span>
          </span>
            </div>

           
            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" (click)="checkAdmin()" [disabled]="loginForm.invalid">Sign in</button>
            <hr class="my-4">
            
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>

