<div class="border border-info" style="margin-left:20% ; margin-right: 20%;">
    <br/>
    <h3 style="text-align: center;background-color:lightgray;" >Set New Password </h3>

<br/><br/>
<div class="alert alert-danger">
    <form [formGroup]="myRegForm">
        <div>
            <label>Login Password-</label> 
        <input type="password" class="form-control" formControlName="password">
        <p class="alert alert-danger" *ngIf="password.touched && password.invalid">
            <span class="alert alert-danger" *ngIf="password.errors.required">Password field is required!</span>
        </p>
        </div>
        <br/>
        <div>
            <label>Confirm Login Password-</label> 
            <input type="password" class="form-control" formControlName="confirmpassword">
            <p class="alert alert-danger" *ngIf="confirmpassword.touched && confirmpassword.invalid">
                <span class="alert alert-danger" *ngIf="confirmpassword.errors.required">Password field is required!</span>
            </p>
            <div *ngIf="confirmpassword.valid && confirmpassword.value != password.value" class="text-danger">
                The passwords entered do not match
            </div>
        </div>
        <br/>
        <button (click)="submit()" style="font-size: x-large;" class="btn btn-success" [disabled]="myRegForm.invalid || confirmpassword.value != password.value">Submit</button> 
    </form>
</div>
