
<!-- <app-login></app-login> -->
<!-- <p>Hello</p> 
<app-changepassword></app-changepassword>


<app-admin-decision></app-admin-decision>-->

<!--<app-search-component></app-search-component>-->

<!-- <app-create-account></app-create-account>
<router-outlet></router-outlet>
<app-admin-login></app-admin-login>
<app-header></app-header>

<main class="main-content">
      <router-outlet></router-outlet>  
</main> 
<app-transaction-imps></app-transaction-imps>-->
<app-add-beneficiary></app-add-beneficiary>





